
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Edit</h1>
    <div class="well">

      <%= form_for @post do |f| %>
        
        <div class="form-group">
          <p>Title:</p><%= f.text_field :title, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <p>Body:</p><%= f.text_area :body, class: 'form-control' %>
        </div>
        
        <%= f.submit "Submit", class: 'custom-btn' %>
        
      <% end %>

    </div>
  </div>
</div>
