// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-bottom: 1em;
}

// nav

.custom-nav-style {
  margin-bottom: 0px;
  background: #eee;
  box-shadow: 4px 0px 10px #111;
  
  span.icon-bar {
    background-color: #111;
  }
}

// banner

.banner {
  background: url('http://res.cloudinary.com/dq2bsl9c5/image/upload/v1453550782/mailbox_lkxyqa.jpg') no-repeat center center;
  background-size: cover;
  padding: 4em 0;
  margin-bottom: 1em;
  
  
  h2 {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.3px;
    padding: 2em 0;
    text-shadow: 2px 2px #333;
  }
  
  a.signup-button {
    margin: 2em 0;
    background: #ADD8E6;
    padding: 1em 3em;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }
}

// posts

.post {
  padding: 2em 0;
  padding-left: 1em;
  
  &:hover {
    background: lightblue;
    transition: background, .4s ease-in-out;
  }
  
  h2 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  p {
    letter-spacing: 1.2px;
  }
}

.left-post .post {
  
  border-right: 4px solid #333;
}

.right-post .post {
  
}