// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-btn {
  background: #000;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: .75em 2em;
  opacity: .8;
}